* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0f0c29;
  font-family: 'Segoe UI', sans-serif;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1a1a2e;
}

::-webkit-scrollbar-thumb {
  background: #8250ff;
  border-radius: 3px;
}